<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debate</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Welcome!</h1>
	<div class="container">
		<% if(messages.messages) { %>
		     <% for (var message of messages.messages) { %>
		     <div class="alert-danger" role="alert"><%= message %></div>
		     <% } %>
		 <% } %>
		<form method="post" action="/register">
			<h5>Register</h5>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" placeholder="ex. Brian">		
			<label for="email">Email</label>
			<input type="email" name="email" id="email" placeholder="ex. brian@datacompass.com">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<label for="c_password">Confirm Password</label>
			<input type="password" name="c_password" id="c_password">
			<button type="submit">Register</button>
		</form>
	</div>
</body>
</html>

